{% extends "templates/base.html" %}


{% block title %}More{% endblock %}


{% block content %}
    
    
    <h5> This event is brought to you by <a href='http://siamdtu.org/'>Siam DTU</a>, i.e DTU chapter of Society for industrial and applied mathematics , for more siam related updates , please like <a href='https://www.facebook.com/dtusiam'>our facebook page .</a>
    </h5>	
    <h5>The source code for this site will be made available very soon.</h5>

    <h5>The solutions to all the problems will be provided on 3-4th october. </h5>
    
    <h5>Winners will be informed by mail, in case two or more individuals have scored the same number of points, the winner will be chosen on the basis of submission time. </h5>
    <h5>In case of any question or queries regarding something other than the answers to the questions, head over to <a href='https://www.facebook.com/lacedtu'>lace-dtu facebook page.</a> </h5>
    
{% endblock %}
